---
export interface Props {
	name: string;
	title: string;
	image: string;
	body: string;
	github?: string;
	linkedin?: string;
	website?: string;
}

const { name, title, image, body, github, linkedin, website } = Astro.props;
---
<div class='w-64 h-[24rem] bg-slate-100 flex flex-col items-center border-1 hover:scale-105 border-slate-500/50 rounded-lg shadow-lg shadow-slate-400/50 hover:shadow-slate-500/50 p-2 m-4'>
	<img src={image} class='border-1 border-slate-500/90 shadow-lg rounded-full object-cover w-[170px] h-[170px] overflow-hidden'/>
	<h2 class='text-xl text-center'>
		{title}
	</h2>
	<h3 class='text-center'>
		{name}
	</h3>
	<p class='h-[96px] m-1 text-base'>
		{body}
	</p>
	<ul class='list-none flex justify-center py-1'>
		<li class='px-2'><a href={github} class='' target='_blank'><img src='/icons/github.svg' class='w-6 h-auto'></a></li>
		<li class='px-2'><a href={linkedin} class='' target='_blank'><img src='/icons/linkedin.svg' class='w-6 h-auto'></a></li>
		<li class='px-2'><a href={website} class='' target='_blank'><img src='/icons/user-solid.svg' class='w-6 h-auto'></a></li>
	</ul>

	
	
</div>
