---
export interface Props {
    title: string;
	description: string;
	link?: string;
    time?: TimeRanges;
    date?: string;
    location?: string;
}

const { title, description, link, date } = Astro.props;
---
<div class='container my-2'>
    <h2>{title}</h2>
    <p>{description}</p>
    <a class='' href={link} target='_blank'>{link}</a>
    <p>{date}</p>
</div>
